html {
    font-size: 50.5%;
    /* background-size: cover; */
    height: 100%;
}

body {
    font-family: 'Verdana', Arial, Helvetica, sans-serif;
}

#signature-main {
    width: fit-content;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 10em;
}

#signature-div {
    background-color: transparent;
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-top: 3.5em;
    margin-bottom: 5.0em;
    min-width: 19.5em;
    border-radius: 7px;
    height: fit-content;
    display: flex;
    flex-direction: column;

}



.name {
    font-size: 1.5em;
    font-weight: 600;
}

.job-title {
    font-size: 1.5em;
    font-weight: 700;
    color: #003296;
}

.location {
    font-size: 1.3em;
}

div.email {
    margin-top: 1.4em;
    font-size: 1.3em;

}

div#socials {
    border-left: solid 0.2em #e3e3e3 !important;
    /* padding-top: 1.0em; */
    /* padding-bottom: 2.0em; */
    padding-left: 4.5em;
    margin-left: 4.5em;

}

.social-text {
    font-size: 1.3em;
    font-weight: 700;
    color: #003296;
    margin-bottom: 2.0em;
}

.social-img-m {
    margin-right: 2.5em;
}

.bg-logo-container {
    width: 17.5em;
    margin-right: 3.5em;
}

.bg-logo,
.skoll,
.wsj,
.forbes,
.givefood,
.kiva,
.ted,
.better-life,
.arrow {
    width: 100%;
    height: auto;
}

div#links {
    border-top: solid 0.2em #e3e3e3 !important;
    border-bottom: solid 0.2em #e3e3e3 !important;
    margin-top: 2.0em;
    height: 7.1em;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1em;

}

.link-text {
    font-size: 0.9em;
}

.arrow-container {
    width: 3.6em;
    margin-left: 0.5em;

}

div#qualss {
    font-size: 1.0em;
    max-width: 58.5em;

}

#name-section {
    margin-bottom: 3em;
}

.back-arrow-container {
    width: 3.6em;
    margin-right: 0.7em;
}

.skoll-container {
    width: 4.6em;
    margin-left: 1.3em;
    margin-right: 1.3em;
}

.wsj-container {
    width: 4.2em;
    margin-right: 1.3em;

}

.ted-container {
    width: 6.1em;
    margin-right: 1.3em;

}

.forbes-container {
    width: 7.2em;
    margin-right: 1.3em;
}

.givefood-container {
    /* padding-top: 0.6em; */
    padding-left: 1.3em;
    width: 5.7em;
    border-left: solid 0.2em #e3e3e3 !important;

}

.kiva-container {
    width: 4.0em;
    margin-left: 1.3em;
    margin-right: 1.3em;
}

.better-life-container {
    width: 8.0em;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

@media only screen and (max-width: 580px) {
    #signature-div {
        left: 3%;
        margin-right: 3%;
        width: 100%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }

    div#socials {
        border-left: solid 0.2em #e3e3e3 !important;
        padding-top: 1.2em;
        padding-bottom: 2.4em;
    }

    .social-text {
        font-size: 1.0em;
        font-weight: 700;
        color: #003296;
        margin-bottom: 1.2em;
    }

    .bg-logo-container {
        width: 10.5em;
    }

    .bg-logo,
    .skoll,
    .wsj,
    .forbes,
    .givefood,
    .kiva,
    .ted,
    .better-life,
    .arrow {
        width: 100%;
        height: auto;
    }

    div#links {
        border-top: solid 0.2em #e3e3e3 !important;
        border-bottom: solid 0.2em #e3e3e3 !important;
        margin-top: 1.0em;
        height: 6.1em;
        padding: 2.5em 0em;
        width: fit-content;
        margin: auto;
    }

    .link-text {
        font-size: 1.0em;
    }

    .arrow-container {
        width: 4.6em;
        margin-left: 0.5em;

    }

    .back-arrow-container {
        width: 4.6em;
        margin-right: 0.7em;
    }

    .skoll-container {
        width: 3.6em;
        margin-left: 2.3em;
        margin-right: 2.5em;
    }

    .wsj-container {
        width: 5.2em;
        margin-right: 0.9em;

    }

    .ted-container {
        width: 8.1em;
        margin-right: 2.5em;

    }

    .forbes-container {
        width: 9.2em;
        margin-right: 2.5em;
    }

    .givefood-container {
        padding-top: 0.6em;
        padding-left: 1.7em;
        width: 7.7em;
        border-left: none !important;

    }

    .kiva-container {
        width: 6.0em;
        margin-left: 1.4em;
        margin-right: 1.4em;
    }

    .better-life-container {
        width: 4.8em;
    }

    div#footer-text {
        width: 19.5em;
    }
}

.vision {
    background-color: #1863DC;
    margin-bottom: 1.5em;
    max-width: 58.33em;
}

.vision-title {
    font-size: 1.2em;
    font-weight: 700;
    color: #F7C41B;
    margin-right: 0.5em;
}

.vision-text {
    font-size: 1.2em;
    font-weight: 400;
    color: #FFFFFF;
}