html {
  font-size: 50.5%;
  height: 100%;
}
body {
  font-family: "Verdana", Arial, Helvetica, sans-serif;
}
#signature-main {
  width: fit-content;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 10em;
}
#signature-div {
  background-color: transparent;
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-top: 3.5em;
  margin-bottom: 5em;
  min-width: 19.5em;
  border-radius: 7px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.name {
  font-size: 1.5em;
  font-weight: 600;
}
.job-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #003296;
}
.location {
  font-size: 1.3em;
}
div.email {
  margin-top: 1.4em;
  font-size: 1.3em;
}
div#socials {
  border-left: solid 0.2em #e3e3e3 !important;
  padding-left: 4.5em;
}
div#logo-div {
  padding-right: 4.5em;
  margin-right: 4.5em;
  gap: 15px;
}
.social-text {
  font-size: 1.8em;
  font-weight: 700;
  color: #003296;
  margin-top: 1em;
  margin-bottom: .5em;
}
.social-img-m {
  margin-right: 2.5em;
}
.bg-logo-container {
  width: 17.5em;
  margin-right: 3.5em;
}
.bg-logo,
.skoll,
.wsj,
.forbes,
.givefood,
.kiva,
.ted,
.better-life,
.arrow {
  width: 100%;
  height: auto;
}
div#links {
  border-top: solid 0.2em #e3e3e3 !important;
  border-bottom: solid 0.2em #e3e3e3 !important;
  margin-top: 2em;
  justify-content: center;
  padding-top: 1.5em;
  padding-bottom: 1em;
  /* gap: 2.5em; */
}

.arrow-container {
  width: 3.6em;
}
div#qualss {
  font-size: 1em;
  max-width: 58.5em;
}
#name-section {
  margin-bottom: 3em;
}
.back-arrow-container {
  width: 3.6em;
  margin-right: 0.7em;
}
.skoll-container {
  width: auto;
  /* margin-left: 1.3em; */
  /* margin-right: 1.3em; */
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.wsj-container {
  width: auto;
  /* margin-right: 1.3em; */
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.ted-container {
  width: auto;
  /* margin-right: 1.3em; */
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.forbes-container {
  width: auto;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.kiva-container {
  width: auto;
  /* margin-left: 1.3em; */
  /* margin-right: 1.3em; */
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.better-life-container {
  width: 8em;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media only screen and (max-width: 580px) {
  #signature-div {
    left: 3%;
    margin-right: 3%;
    width: 100%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  div#socials {
    border-left: solid 0.2em #e3e3e3 !important;
    padding-top: 1.2em;
    padding-bottom: 2.4em;
  }

  .bg-logo-container {
    width: 10.5em;
  }

  .bg-logo,
  .skoll,
  .wsj,
  .forbes,
  .givefood,
  .kiva,
  .ted,
  .better-life,
  .arrow {
    width: 100%;
    height: auto;
  }

  div#links {
    border-top: solid 0.2em #e3e3e3 !important;
    border-bottom: solid 0.2em #e3e3e3 !important;
    margin-top: 1em;
    /* height: 6.1em; */
    padding: 2.5em 0em;
    /* width: fit-content; */
    justify-content: center;
    margin: auto;
  }

  #links {
    width: 515px;
  }

  .link-text {
    font-size: 1em;
    width: 50px;
  }

  .back-arrow-container {
    width: 4.6em;
    margin-right: 0.7em;
  }

  .skoll-container {
    width: auto;
    /* margin-left: 2.3em; */
    /* margin-right: 2.5em; */
  }

  .wsj-container {
    width: auto;
    /* margin-right: 0.9em; */
  }

  .ted-container {
    width: auto;
    /* margin-right: 2.5em; */
  }

  .forbes-container {
    width: auto;
    /* margin-right: 2.5em; */
  }

  .givefood-container {
    padding-top: 0.6em;
    padding-left: 1.7em;
    width: 7.7em;
    border-left: none !important;
  }

  .kiva-container {
    width: 6em;
    /* margin-left: 1.4em;
    margin-right: 1.4em; */
  }

  .better-life-container {
    width: 4.8em;
  }

  div#footer-text {
    width: 19.5em;
  }
}

.vision {
  background-color: #183a89 !important;
  margin-bottom: 3em;
  width: 515px;
  max-width: 515px;
  min-width: 515px;
}

.vision-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #f7c41b !important;
  margin-right: 0.5em;
}

.vision-text {
  font-size: 1.2em;
  font-weight: 400;
  color: #ffffff;
}

#together{
  display: flex;
  gap: 0px !important;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.link-icon{
  height: 25px;
  width: auto;
}

.link-icon-tall{
  height: 30px;
  width: auto;
}
